/* You can add global styles to this file, and also import other style files */
body{
  background: #206ab9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ed6d6d, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3d5fe6, #1d6ace); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
